.Rproj.user
*unc*
src/credal_cp/__pycache__/
experiments/__pycache__/
/figures
data/*.csv*
data/data
data/raw
data/data_scripts/__pycache__/
catboost_info/
comparisons/__pycache__/
*log_*
*.png*
*.pdf*